body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #f8dc16;
  padding: 10px;
}

h1,
h2 {
  text-align: center;
}

#logodiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 250px;
}

main {
  padding: 20px;
  background-image: url("Skanska_flaggan.svg");
  background-size: contain;
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #e33c29;
}

body {
  background-color: #e33c29;
}

.item-card {
  background-color: rgb(255, 255, 255);
  border: 3px solid #000000;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.item-card a {
  display: none;
}
.item-card button {
  display: inline;
}

.chosen-item {
  border-color: rgb(40, 181, 40);
  border-width: 6px;
}

.chosen-item a {
  display: inline;
}

.chosen-item button {
  display: none;
}

.item-card img {
  width: 250px;
  border-radius: 5px;
}

.item-card h2 {
  margin: 0;
  color: #333;
}

.item-card p {
  color: #666;
}

.item-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mail-button {
  display: inline-block;
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  padding: 15px 25px; /* Top and bottom padding, left and right padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline */
  font-size: 16px; /* Text size */
  cursor: pointer; /* Change mouse cursor on hover */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s;
}
