body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #F8DC16;
  padding: 10px;
}

h1, h2 {
  text-align: center;
}

#logodiv {
  display: flex;
  justify-content: center;
  align-items: center; /
}

#logo {
  width: 250px;
}

main {
  padding: 20px;
  background-image: url('images/Skånska_flaggan.svg');
  background-size:contain;
  background-attachment: fixed;

  background-position: top left;

  background-repeat: no-repeat;
  background-color: #E33C29;
}

body {
  background-color: #E33C29;
}


.item-card {
  background-color: rgb(255, 255, 255);
  border: 3px solid #000000;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.chosen-item {
  border-color: green;
  border-width: 4px;
}

.item-card img {
  width: 250px;
  border-radius: 5px;
}

.item-card h2 {
  margin: 0;
  color: #333;
}

.item-card p {
  color: #666;
}

.item-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
