body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #f0f0f0;
  padding: 10px;
}

#logodiv {
  display: flex;
  justify-content: center;
  align-items: center; /
}

#logo {
  width: 250px;
}

main {
  padding: 20px;
}

.item-card {
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.chosen-item {
  border-color: green;
  border-width: 4px;
}

.item-card img {
  width: 250px;
  border-radius: 5px;
}

.item-card h2 {
  margin: 0;
  color: #333;
}

.item-card p {
  color: #666;
}

.item-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
